@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="text-center"> Mira nuestro cursos en: <a href="https://render2web.com/cursos"> www.render2web.com/cursos </a></h3>
</div>
